/* Disallow access if there's no JavaScript */
.no-js main {
    display: none !important;
}

.recipesMain {
    padding: 20px;
    display: inline-block;
    width: auto;
}

.cervezaCard {
    margin: 10px;
    float: left;
    width: 300px;
}

.cancelProcess {
    float: right;
}